.container{
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	height: auto;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 3px;
}